<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css"/>
        <title> Create product </title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Create</button>
        </form>
        <p>{{request.user.username}}</p>
        <script>
            alert('{{request.user.username}}');
        </script>
    </body>
</html>