<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Create product </title>
    </head>
    <body>
        {% if request.user.is_superuser or object.author == request.user.username %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Create</button>
        </form>
        {% else %}
        <h1>
            <a href="{% url 'thirdapp:notes_list' %}">Notes list</a>
        </h1>
        {% endif %}
    </body>
</html>